<!DOCTYPE html>
<html>
  <head>
  	<link rel="stylesheet" href="css/lib/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/app/app.css"/>
    <title> Signup </title>
  </head>

  <body id="ezgas" ng-app="demo">

    <a href="/"><img src="img/ezgas.png" alt="ezgas" class="center"/></a>
    <!--<button class="topright" onclick="window.location='/';">Home</button>-->

<div class="container" ng-controller="HomeController as ctrl">
	<div class="panel panel-default">
    	<div class="panel-heading"><span class="lead">User Registration Form </span></div>
    	<div class="formcontainer">
    		<form ng-submit="saveUser()" name="myForm" class="form-horizontal">
    		 <input type="hidden" ng-model="userDto.userId" />
                      <div class="row">
                          <div class="form-group col-md-12">
                              <label class="col-md-2 control-lable" for="uname">Name</label>
                              <div class="col-md-7">
                                  <input type="text" ng-model="userDto.userName" id="uname" class="username form-control input-sm" placeholder="Enter your name" required ng-minlength="3"/>
                                  <div class="has-error" ng-show="myForm.$dirty">
                                      <span ng-show="myForm.uname.$error.required">This is a required field</span>
                                      <span ng-show="myForm.uname.$error.minlength">Minimum length required is 3</span>
                                      <span ng-show="myForm.uname.$invalid">This field is invalid </span>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="row">
                          <div class="form-group col-md-12">
                              <label class="col-md-2 control-lable" for="email">Email</label>
                              <div class="col-md-7">
                                  <input type="email" ng-model="userDto.email" id="email" class="email form-control input-sm" placeholder="Enter your email" required/>
                                  <div class="has-error" ng-show="myForm.$dirty">
                                      <span ng-show="myForm.email.$error.required">This is a required field</span>
                                      <span ng-show="myForm.email.$invalid">This field is invalid </span>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="row">
                          <div class="form-group col-md-12">
                              <label class="col-md-2 control-lable" for="address">Password</label>
                              <div class="col-md-7">
                                  <input type="password" ng-model="userDto.password" id="address" class="form-control input-sm" placeholder="Enter your password" required ng-minlength="3"/>
                                                                    <div class="has-error" ng-show="myForm.$dirty">
                                      <span ng-show="myForm.uname.$error.required">This is a required field</span>
                                      <span ng-show="myForm.uname.$error.minlength">Minimum length required is 8</span>
                                      <span ng-show="myForm.uname.$invalid">This field is invalid </span>
                                  </div>
                                  
                              </div>
                          </div>
                      </div>
 
                      <div class="row">
                          <div class="form-actions floatRight">
                              <input onclick="window.location.href = '/login';" type="submit"  value="{{!editinguser ? 'Signup' : 'Update'}}" class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid">
                              <button type="button" ng-click="reset()" class="btn btn-warning btn-sm" ng-disabled="myForm.$pristine">Reset Form</button>
                          </div>
                      </div>
    	
    		</form>
    	</div>
    </div>
    
	</body>

	<script src="js/lib/angular.min.js"></script>
	<script src="js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
	<script src="js/app/app.js"></script>
	<script src="js/app/GasStationController.js"></script>
	<script src="js/app/HomeController.js"></script>
	<script src="js/logout.js"></script>
	<script src="js/app/HomeService.js"></script>
	<link rel="stylesheet" href="css/lib/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/app/app.css"/>
</html>
